body {
text-align: center;
font-family: helvetica;
}

/* DIV TITLE */

.hero {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  color: white;
  }

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.hero p {
  font-size: 18px;
  color white;
}


/* DIV 2 */

.supporting-item p {
  font-size: 14px;
}

h2  {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  }

/*

/* FOOTER */

.footer--copyright {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
